.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  .top-bar {
    width: 100%;
    .sign-out-btn {
      color: white !important;
      background-color: red !important;
      display: inline;
      float: right;
      margin: 8px;
    }
  }
}
