.App {
  text-align: center;
  display: flex;
  flex-direction: column;

  .top-bar {
    width: 100%;
    .sign-out-btn {
      color: white !important;
      background-color: red !important;
      display: inline;
      float: right;
      margin: 8px;
    }

    .home-btn {
      color: white !important;
      display: inline;
      float: left;
      margin: 8px;
    }
  }

  .password-reset-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 8px;
  }
}
