.userlist-wrapper {
  height: 400px;
  width: 100%;
  color: white;
  padding: 0 8px;
}

.edit-btn {
  font-size: large;
  cursor: pointer;
}

.delete-btn {
  font-size: large;
  cursor: pointer;
}

.userlist-table-header {
  color: white;
  text-align: center;
}

.userlist-table-column {
  color: white;
  text-align: center;
}

.link {
  color: white;
}
