.ResetPasswordFrame {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}

.ResetPasswordTitle {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 2em;
}

.ResetPasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.ResetPasswordInput {
  padding-bottom: 10px;
}

.ResetPasswordButtonBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 40px;
}

.ResetPasswordButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ResetPasswordButtonSpacer {
  min-width: 10px;
}

.ErrorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #920000;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
